fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
psycopg2-binary
redis
elasticsearch
passlib[bcrypt]
python-jose[cryptography]
python-multipart
torch
torchvision
Pillow
scikit-learn
numpy
implicit
cloudinary
blurhash
scipy
